In [1]:

import pandas as pd
import numpy as np
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

## Project 1 - NLP and Text Classification

For this project you will need to classify some angry comments into their respective category of angry. The process that you'll need to follow is (roughly):
<ol>
<li> Use NLP techniques to process the training data. 
<li> Train model(s) to predict which class(es) each comment is in.
    <ul>
    <li> A comment can belong to any number of classes, including none. 
    </ul>
<li> Generate predictions for each of the comments in the test data. 
<li> Write your test data predicitions to a CSV file, which will be scored. 
</ol>

You can use any models and NLP libraries you'd like. Think aobut the problem, look back to see if there's anything that might help, give it a try, and see if that helps. We've regularly said we have a "toolkit" of things that we can use, we generally don't know which ones we'll need, but here you have a pretty simple goal - if it makes it more accurate, it helps. There's not one specific solution here, there are lots of things that you could do.

## Training Data

Use the training data to train your prediction model(s). Each of the classification output columns (toxic to the end) is a human label for the comment_text, assessing if it falls into that category of "rude". A comment may fall into any number of categories, or none at all. Membership in one output category is <b>independent</b> of membership in any of the other classes (think about this when you plan on how to make these predictions - it may also make it easier to split work amongst a team...).

In [2]:
# loading training data:

train_df = pd.read_csv("train.csv.zip")
train_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [3]:
train_df[train_df['toxic']==1].iloc[12]

id                                                003217c3eb469ba9
comment_text     Hi! I am back again!\nLast warning!\nStop undo...
toxic                                                            1
severe_toxic                                                     0
obscene                                                          0
threat                                                           1
insult                                                           0
identity_hate                                                    0
Name: 79, dtype: object

In [4]:
train_df['comment_text'].iloc[12]

'Hey... what is it..\n@ | talk .\nWhat is it... an exclusive group of some WP TALIBANS...who are good at destroying, self-appointed purist who GANG UP any one who asks them questions abt their ANTI-SOCIAL and DESTRUCTIVE (non)-contribution at WP?\n\nAsk Sityush to clean up his behavior than issue me nonsensical warnings...'

In [5]:
# shape of training data
train_df.shape

(159571, 8)

In [6]:
# sampling 500000 from training data
train = train_df.sample(50000)

## Test Data

In [7]:
#Loading testing data:

test_df = pd.read_csv("test.csv")
test_df.head()

   id                                       comment_text
0   1  Yo bitch Ja Rule is more succesful then you'll...
1   2  == From RfC == \n\n The title is fine as it is...
2   3  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3   4  :If you have a look back at the source, the in...
4   5          I don't anonymously edit articles at all.

In [8]:
# shape of testing data:
test_df.shape

(153164, 2)

In [9]:
test_df['comment_text'][2]

'" \n\n == Sources == \n\n * Zawe Ashton on Lapland —  /  "'

### Defining a preprocessing function:
The preprocess function is designed to preprocess individual text documents by removing unnecessary words, characters, and noise that may not be useful for downstream analysis.

In order to preprocess a large number of text documents in a structured way, it can be helpful to apply this function to a dataframe that contains a column of text documents. This allows you to preprocess all the documents at once using the same set of operations, which can save time and ensure consistency across the documents.

In [10]:
# Preprocess the text data
def preprocess(text):
    # Convert text to lowercase
    text = text.lower()
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(text)
    words = [w for w in words if not w in stop_words]
    # Join the words back into a string
    text = " ".join(words)
    # Remove numbers and other special characters
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'[^\w\s]', '', text)
    return text

### Applying Preprocess function to training  dataset:

<ui>Applied the preprocess function to each row of the 'comment_text' column in the train dataframe, and saves the preprocessed text in a new column called 'clean_comment'.
<ui> The resulting train dataframe now has two columns: 'comment_text' and 'clean_comment'. The 'comment_text' column contains the raw text data, while the 'clean_comment' column contains the preprocessed text data.

In [11]:
# text cleaning for training data set

train['clean_comment'] = train['comment_text'].apply(preprocess)

### Split the data into training and testing sets

 The training set is used to train the model, while the testing set is used to evaluate the model's performance on new, unseen data.

In [12]:
# Split the data into training and testing sets
X = train['clean_comment']
y = train[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### TfidfVectorizer  

<li>Using TfidfVectorizer to convert text data in X_train and X_test into numerical feature vectors. The max_features parameter specifies the maximum number of features (i.e., unique words) to keep, based on their frequency in the corpus.

<li>The fit_transform method fits the vectorizer on the training data X_train and transforms it into a sparse matrix of TF-IDF features. The toarray method then converts this sparse matrix into a dense numpy array.

<li>The transform method is then used to transform the test data X_test into a sparse matrix of TF-IDF features, followed by converting it into a dense numpy array using the toarray method.

<br>Now, X_train and X_test will contain numerical feature vectors that can be used for machine learning algorithms that require numerical input.

In [13]:
# Vectorize the text data using TF-IDF
vectorizer = TfidfVectorizer(max_features=5000)
X_train = vectorizer.fit_transform(X_train).toarray()
X_test = vectorizer.transform(X_test).toarray()

 ### logistic regression classifier for each toxicity label
Now, training a  logistic regression classifier for each of the six toxicity labels: 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult', and 'identity_hate'.
<li> For the multi-label classification for toxic content using logistic regression, and evaluating the performance of the model for each of the six toxicity labels: 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult', and 'identity_hate'.
<li>Using logistic regression model for identifies different types of toxic content in text data, and provides a detailed report of the model's accuracy and performance for each toxicity label separately.

In [14]:
# Toxicity labels

labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']

In [15]:

from sklearn.metrics import classification_report, accuracy_score
from sklearn.svm import SVC, LinearSVC

# Train a logistic regression classifier for each toxicity label
labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
for label in labels:
    y_train_label = y_train[label]
    y_test_label = y_test[label]
    clf = LinearSVC(C=1.5)
    # clf = LogisticRegression()
    clf.fit(X_train, y_train_label)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test_label, y_pred)
    print(f"Classification report for {label}:")
    print(classification_report(y_test_label, y_pred))
    print(f"Accuracy score: {accuracy}")

Classification report for toxic:
              precision    recall  f1-score   support

           0       0.97      0.98      0.97      9116
           1       0.79      0.64      0.71       884

    accuracy                           0.95     10000
   macro avg       0.88      0.81      0.84     10000
weighted avg       0.95      0.95      0.95     10000

Accuracy score: 0.9534
Classification report for severe_toxic:
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      9901
           1       0.48      0.29      0.36        99

    accuracy                           0.99     10000
   macro avg       0.74      0.64      0.68     10000
weighted avg       0.99      0.99      0.99     10000

Accuracy score: 0.9899
Classification report for obscene:
              precision    recall  f1-score   support

           0       0.98      0.99      0.99      9508
           1       0.83      0.65      0.73       492

    accuracy                           0.98     10000
   macro avg       0.91      0.82      0.86     10000
weighted avg       0.97      0.98      0.98     10000

Accuracy score: 0.9764
Classification report for threat:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      9976
           1       0.64      0.29      0.40        24

    accuracy                           1.00     10000
   macro avg       0.82      0.65      0.70     10000
weighted avg       1.00      1.00      1.00     10000

Accuracy score: 0.9979
Classification report for insult:
              precision    recall  f1-score   support

           0       0.98      0.99      0.98      9537
           1       0.74      0.56      0.64       463

    accuracy                           0.97     10000
   macro avg       0.86      0.78      0.81     10000
weighted avg       0.97      0.97      0.97     10000

Accuracy score: 0.9707
Classification report for identity_hate:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      9916
           1       0.60      0.21      0.32        84

    accuracy                           0.99     10000
   macro avg       0.80      0.61      0.66     10000
weighted avg       0.99      0.99      0.99     10000

Accuracy score: 0.9922

In [37]:
import pandas as pd
import numpy as np
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

# Load the trained classifiers
labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
classifiers = {}
for label in labels:
    #clf = LogisticRegression()
    clf = LinearSVC(C=1.5)
    clf.fit(X_train, y_train[label])
    classifiers[label] = clf

In [38]:
test_df['clean_comment'] = test_df['comment_text'].apply(preprocess)

In [18]:
# Vectorize the text data using the trained vectorizer
vectorizer = TfidfVectorizer(max_features=5000)
X_test = vectorizer.fit_transform(test_df['clean_comment']).toarray()

In [19]:
# Predict the toxicity labels for the test data using the trained classifiers
pred_labels = {}
for label in labels:
    clf = classifiers[label]
    pred_labels[label] = clf.predict(X_test)

In [39]:
# Store the predicted labels in a file named out.csv
out_df = pd.DataFrame(pred_labels, columns=labels)
out_df.to_csv('Pre2.csv', index=False)

In [40]:
test_df['id'].iloc[1039]

1040

In [41]:
test_df['comment_text'].iloc[1039]

'" \n\n == Illusions about ""standard Croatian"" == \n\n The debate on this page is purely political and as disconnected from scientific discussion as are apples and watermelons. So much ignorance and nonsense flies around that it is next to impossible to start anywhere to debunk this ignorance so strongly displayed by almost everyone. \n\n Like this ""pearl"" from a certified ""Iknoweverything"": \n\n There is no such thing as ""Slavic origins"". Anyone making a claim that tens of thousands of year old genetic markers have anything to do a decades- or centuries-old identities, that have been constructed in the historical period as can be abundantly attested in the respective literature, is a brain-dead moron. The spread of Slavic identity was primarily through linguistic assimilation (the word Slavs originally meant ""those who speak like us""). Croats from northern Croatia are much more genetically close to neighboring Hungarians or Austrians than they are to remote Russians. The same is valid for any other imaginary collective that we call nation-state or civilizational milieu. Ivan Štambuk (talk)  \n\n For your information Slaven, not Slav is the original word. And the word ""Slaven"" means in a number of germanic languages (consult german or english dictionaries for more info) a ""dirty boy"". Think of a prepubescent or a teenager\'s face and clothes after a game of football and you may get the picture. Only in your twisted and ignorant head the word ""Slav"" means something. ANd of all things you claim that it means ""those who speak like us""... \n\n In which language? Do tell.  \n\n Ignorant.  \n\n How about tis other ""pearl"" from local ""authority"" on everything: \n\n ""Croats from northern Croatia are much more genetically close to neighboring Hungarians or Austrians than they are to remote Russians. The same is valid for any other imaginary collective that we call nation-state or civilizational milieu."" \n\n A number of genetical studies have been conducted since the war in Jugoslavia and every single one has confirmed that 51% of Croats, especially those near Austria and Hungary are genetically Slavens (Slavs, if you prefer) and as such are identical to Russians, not to Austrians or Hungarians. Many of these studies have been conducted by Croatians too, so above ""pearl"" is only indicative of the size of Stambuk\'s ignorance, already verified too many times to mention here. \n\n Another genius, among many, tty29a quotes here and then misses the point completely: \n\n ""    Another cold fact is that Ča- Kaj- and I-kavski are not even dialects. Rather, they are deflections of adjectives (in Ikavski, ijekavski, ekavski) and/or pronouns (in sto-sta- kaj- ca- kavski). Fundamental grammatical rules are identical and do not change beyond what could only be described as dialectal differences between Ča- Kaj Sto- Sta- I- kavski. \n     Let me see if I got this right. They\'re not dialects but they have dialectal differences? You seem to be in disagreement with your self. Deflections of adjectives and pronouns? Really? Also, if the grammatical systems are identical, why do they have different case and tense systems? I honestly hope you\'re just a troll. tty29a:talk "" \n\n Have a look at this from the quote by tty29a: ""Fundamental grammatical rules are identical and do NOT change beyond what could only be described as dialectal differences between Ča- Kaj Sto- Sta- I- kavski."" \n\n And tty29a misses the NOT completely to come up with this nonsense: ""They\'re not dialects but they have dialectal differences? You seem to be in disagreement with your self."" \n\n The only one in disagreement with himself is tty29a. The other person who wrote the quoted text made it CLEAR that they are NOT dialects. \n\n And the story goes on and on, forever and ever. Few and far inbetween with some understanding and knowledge, but for the most part just a bunch of ignorants debating things which they do not have the capacity, intellectual one, to grasp and process before they grab the microphone and start making fools of themselves. \n\n As a linguist with 27 years of experience, I am apalled with the level of ignorance that reigns here. You people have no idea what you are talking about and yet you have take to yourselves to be the arbitrators who say what goes and what doesn\'t.  \n\n You are products of your consumeristic and instant gratification society. Online anarchists who believe in some higher purpose that the rest of us must absorb and abide by your decisions in order to make it happen. Linguistic cannibals. \n\n And, indeed, that is all you poor wretches are. Linguistic cannibals."'

In [42]:
out_df[out_df['toxic']==1]

        toxic  severe_toxic  obscene  threat  insult  identity_hate
177         1             0        0       0       0              0
277         1             0        0       0       0              0
323         1             0        0       0       0              0
525         1             0        0       0       0              0
528         1             0        1       0       0              0
...       ...           ...      ...     ...     ...            ...
151892      1             0        0       0       0              0
152057      1             0        0       0       0              0
152424      1             0        1       0       0              0
152833      1             0        1       0       0              0
152957      1             0        0       0       0              0

[1508 rows x 6 columns]

In [43]:
out_df[out_df['severe_toxic']==1]

       toxic  severe_toxic  obscene  threat  insult  identity_hate
73121      1             1        1       0       1              0

In [44]:
test_df['comment_text'].iloc[141859]

'" \n : \n :*""I hope you die of something you ate""  \n :*""She got shot with the whore makeup gun?""  \n :*""Vani you ignorant slut""  \n :*""get some real dick in your boney ass diet""  \n :*""when I called you a \'dumb cunt\' I did not mean to imply you were a \'dumb woman\' [...] I think you are a dumb human being"" \n :*""you are a stupid female. kill yourself."" \n :*""This is just for you Food Babe you\'re an ugly twat"" (Image captioned ""What organ stays warm inside of a dead girl\'s body? My Dick"") \n :Top quality criticism from the scientific community m8...   "'

In [45]:
test_df['id'].iloc[141859]

141860

In [46]:
out_df[out_df['obscene']==1]

        toxic  severe_toxic  obscene  threat  insult  identity_hate
528         1             0        1       0       0              0
628         1             0        1       0       0              0
1242        1             0        1       0       0              0
1363        1             0        1       0       0              0
2433        1             0        1       0       0              0
...       ...           ...      ...     ...     ...            ...
151353      1             0        1       0       0              0
151431      1             0        1       0       0              0
151456      1             0        1       0       0              0
152424      1             0        1       0       0              0
152833      1             0        1       0       0              0

[610 rows x 6 columns]

In [47]:
test_df['id'].iloc[152943]

152944

In [48]:

test_df['comment_text'].iloc[152943]

'" \n\n ::::::Fixed I think. Replaced ""entered airspace"" with ""attacked objectives"".  "'

In [49]:
out_df[out_df['threat']==1]

Empty DataFrame
Columns: [toxic, severe_toxic, obscene, threat, insult, identity_hate]
Index: []

In [50]:
out_df[out_df['insult']==1]

        toxic  severe_toxic  obscene  threat  insult  identity_hate
3102        1             0        1       0       1              0
4158        1             0        0       0       1              0
5866        1             0        1       0       1              1
7776        1             0        1       0       1              0
8877        1             0        1       0       1              0
...       ...           ...      ...     ...     ...            ...
145512      1             0        0       0       1              0
150057      1             0        1       0       1              0
150233      1             0        0       0       1              0
150344      1             0        1       0       1              0
150738      1             0        0       0       1              0

[120 rows x 6 columns]

In [51]:
out_df[out_df['identity_hate']==1]

        toxic  severe_toxic  obscene  threat  insult  identity_hate
5866        1             0        1       0       1              1
45406       1             0        0       0       1              1
69185       1             0        0       0       0              1
85459       0             0        0       0       0              1
125738      1             0        0       0       0              1
133149      1             0        0       0       0              1

In [52]:
test_df['comment_text'].iloc[44188]

'" \n\n Goddamn it!  "'

In [53]:
test_df['comment_text'].iloc[59399]

'Stop with the vandalism, goddamn Olavete.'

## Output Details, Submission Info, and Example Submission

For this project, please output your predictions in a CSV file. The structure of the CSV file should match the structure of the example below. 

The output should contain one row for each row of test data, complete with the columns for ID and each classification.

Into Moodle please submit:
<ul>
<li> Your notebook file(s). I'm not going to run them, just look. 
<li> Your sample submission CSV. This will be evaluated for accuracy against the real labels; only a subset of the predictions will be scored. 
</ul>

It is REALLY, REALLY, REALLY important the the structure of your output matches the specifications. The accuracies will be calculated by a script, and it is expecting a specific format. 

### Sample Evaluator

The file prediction_evaluator.ipynb contains an example scoring function, scoreChecker. This function takes a sumbission and an answer key, loops through, and evaluates the accuracy. You can use this to verify the format of your submission. I'm going to use the same function to evaluate the accuracy of your submission, against the answer key (unless I made some mistake in this counting function).

In [54]:
#Construct dummy data for a sample output. 
#You won't do this part first, you have real data - I'm faking it. 
#Your data should have the same structure, so the CSV output is the same
dummy_ids = ["dfasdf234", "asdfgw43r52", "asdgtawe4", "wqtr215432"]
dummy_toxic = [0,0,0,0]
dummy_severe = [0,0,0,0]
dummy_obscene = [0,1,1,0]
dummy_threat = [0,1,0,1]
dummy_insult = [0,0,1,0]
dummy_ident = [0,1,1,0]
columns = ["id", "toxic", "severe_toxic", "obscene", "threat", "insult", "identity_hate"]
sample_out = pd.DataFrame( list(zip(dummy_ids, dummy_toxic, dummy_severe, dummy_obscene, dummy_threat, dummy_insult, dummy_ident)),
                    columns=columns)
sample_out.head()

            id  toxic  severe_toxic  obscene  threat  insult  identity_hate
0    dfasdf234      0             0        0       0       0              0
1  asdfgw43r52      0             0        1       1       0              1
2    asdgtawe4      0             0        1       0       1              1
3   wqtr215432      0             0        0       1       0              0

In [55]:
#Write DF to CSV. Please keep the "out.csv" filename. Moodle will auto-preface it with an identifier when I download it. 
#This command should work with your dataframe of predictions. 
sample_out.to_csv('out.csv', index=False)

## Grading

The grading for this is split between accuracy and well written code:
<ul>
<li> 75% - Accuracy. The most accurate will get 100% on this, the others will be scaled down from there. 
<li> 25% - Code quality. Can the code be followed and made sense of - i.e. comments, sections, titles. 
</ul>